extends layout

block mainContent
  .card-container
    h1 Becoming a Mozillian
    p Becoming a Mozilla contributor can be intimidating.  There's a lot of information to consume, and that information can be dispersed in a variety of different places.  This site aim to outline the process of becoming a Mozilla contributor, from start to finish, with gentle, short, consumable 2-10 minute videos.

  .card-container
    h1 Site Direction
    p This site first aims to focus on Desktop Firefox videos from the ground up.  I'd love to also do videos on Firefox for Android, Firefox for Windows 8 style UI, and for Firefox OS.

  .card-container
    h1 Content Creation
    p The content on this site is produced on OS X with ScreenFlow. The videos are recorded in a local VMWare Windows 8 guest OS.  The audio is recorded with a Blue Yeti microphone.

  .card-container
    h1 Personal Information
    :markdown
      My name is [Brian R. Bondy](http://brianbondy.com) ([@brianbondy](http://twitter.com/brianbondy)), I have a beautiful wife and 3 amazing sons.  Over the past several years I've had the pleasure of [working for Mozilla](http://goo.gl/NsRbyJ). I've been wanting to create a site like this for a long time.  I hope that at least some videos can help you.  I'd like to give a special thanks to [Kamil Jozwiak](http://www.kamiljozwiak.com) ([@KamilJozwiak](http://twitter.com/KamilJozwiak)) for helping in various ways with this site.
