extends layout

block mainContent
  .card-container
    h1 Becoming a Mozillian
    p Becoming a Mozilla contributor can be intimidating.  There's a lot of information to consume, and that information can be dispersed in a variety of different places.  This site aim to outline the process of becoming a Mozilla contributor, from start to finish, with gentle, short, consumable 2-10 minute videos.  Exercises are also used to solidify learnt concepts.

    :markdown
      Follow [@CodeFirefox](https://twitter.com/codefirefox) on twitter to get updates for new content.

  .card-container
    h1 Site Direction
    p This site first aims to focus on Desktop Firefox videos from the ground up.  I'd love to also do videos on Firefox for Android, Firefox for Windows 8 style UI, and for Firefox OS.

  .card-container
    h1 Video Creation
    p The content on this site is produced on OS X with ScreenFlow. The videos are recorded in a local VMWare Windows 8 guest OS.  The audio is recorded with a Blue Yeti microphone.

  .card-container
    h1 Exercise Framework
    :markdown
      The exercise framework is created by parsing the JavaScript source using acorn.js.  This parses the code into an abstract parse tree which is then analyzed against a whitelist and blacklist of goals powered by [codecheck.js](http://github.com/bbondy/codecheckjs). codecheck.js allows for advanced feedback based on the program structure.
      
      Other exercise types other than JavaScript are still in progress.
      
      The Ace editor is used for syntax highlighting and basic error detection.
    
  .card-container
    h1 Contributors
    :markdown
      Contributors of this site include: 

      - [Brian R. Bondy](http://brianbondy.com) ([@brianbondy](http://twitter.com/brianbondy)) Creator of this site and its content. 
      - [Kamil Jozwiak](http://www.kamiljozwiak.com) ([@KamilJozwiak](http://twitter.com/KamilJozwiak)) for helping with QA, design, and outline.
      - [Rodrigo Silveira](http://blog.rodms.com/) ([@rodms10](https://twitter.com/rodms10)) for help translating to pt-BR subtitles.
      - [Sam Foster](http://sam-i-am.com/) ([@samfosteriam](https://twitter.com/samfosteriam)) for help with English subtitles.
      - I'd also like to thank [these contributors](https://github.com/bbondy/codefirefox/graphs/contributors).

      Mike Hoye ([@mhoye](https://twitter.com/mhoye)) is the engineering community manager for Firefox. If you have any questions about getting involved, please [email him here](mailto:mhoye@mozilla.com).

      [Brian R. Bondy](http://brianbondy.com) ([@brianbondy](http://twitter.com/brianbondy)) is the Platform Engineer who runs this site.  If you have any questions, please [email him here](mailto:netzen@gmail.com).
