extends layout

block mainContent
  .card-container
    if (session.isAdmin)
      h1 Actions
      a(href='/initData') Initialize data 
      | Reads data from videos.json and puts it into the redis DB.
      | Also re-initializes all controllers
    else
      h1 You are not authorized to see this page

  if (session.isAdmin)
    .card-container
      h1 Server Statistics
      p= 'Last server instance reset: ' + serverRunningSince + ' ago'

    .card-container
      h1 User Statistics
      p=  'User count: ' + stats.userCount
      p=  'Lessons Completed: ' + stats.slugsCompletedCount
      p=  'Completed per user: ' + stats.completedPerUser.toFixed(2)
      p=  'Linked Bugzilla accounts: ' + stats.bugzillaAccountCount
      p=  'Display names filled: ' + stats.displayNameCount
      p=  'Websites filled: ' + stats.websiteCount
      p=  'Days since last joined: ' + daysSinceLastJoined

      br
      strong These statistics are only tracked for logged in users.

    .card-container
      h1 Administer users
      ul
        each user in users
          li
            if user.info.website
              a(href=user.info.website)= user.toString()
              span= ': ' + user.slugsCompleted.length + ' completed'
            else
              span= user.toString() + ': ' + user.slugsCompleted.length + ' completed'

