extends layout

block mainContent
  a(href='/cheatsheet') Cheatsheet
  each category in categories
    h1= category.title
    ul.videos
      each video in category.videos
          li
            if video.youtubeid
              a(href= '/' + category.slug + '/' + video.slug)
                span= video.title
            else
                span= video.title

