extends layout


block header
  #legend
    ul
      li
        #watched-legend-item.legend-item
        | Available
      li
        #unavailable-legend-item.legend-item
        | Unavailable

block mainContent
  each category in categories
    .card-container
      a(name= category.slug)
      h1= category.title
      ul.videos
        each video in category.videos
            li
              if video.youtubeid
                a(href= '/' + category.slug + '/' + video.slug, name= category.slug + '/' + video.slug)
                  span= video.title
              else
                  span= video.title

