extends layout

block mainContent
  each category in categories
    h1= category.title
    ul
      each video in category.videos
        li
          a(href= '/' + category.slug + '/' + video.slug)
            span= video.title

