doctype 5
html(lang="en")
  head
    title= pageTitle
    //link(rel='alternate', type='application/rss+xml', title='RSS' href='/feeds/rss/')
    //link(rel='shortcut icon' href='/favicon.ico')
    //link(rel='stylesheet', type='text/css', href='/static/css/style7.css')
  body(id= bodyID)
    #mainContent
      block mainContent

    script(type='text/javascript', src='/static/js/jquery.js')
