doctype 5
html(lang="en")
  head
    if pageTitle
      title= pageTitle + ' - Code Firefox'
    else
      title Code Firefox
    meta(charset='UTF-8')
    meta(http-equiv='Content-Language', content='en')
    meta(name='description', content='Short, step by step, video tutorials for Firefox development')
    link(rel='alternate', type='application/rss+xml', title='RSS' href='/rss')
    link(rel='shortcut icon' href='/static/img/favicon.ico')
    link(rel='stylesheet', type='text/css', href='/static/css/main.css')
    link(rel='stylesheet', type='text/css', href='/static/css/persona-buttons.css')
    link(href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css', rel='stylesheet')
    block extraHead

  body(id= bodyID)
    script.
      var email="#{session.email}";
    script(src='http://fb.me/react-0.8.0.js')
    script(src='http://fb.me/JSXTransformer-0.8.0.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js')
   
    .wrapper
      #header
        a(href='/')
          img#logo(src='/static/img/logo.png')
        a(href='https://twitter.com/codefirefox', target='_blank')
          img#follow-on-twitter(src='/static/img/follow-on-twitter.png')
        #navbar
          ul
            li
              a#navbar-lessons(href='/') Lessons
            li
              a#navbar-cheatsheet(href='/cheatsheet') Cheatsheet
            if session.email
              li
                a#navbar-stats(href='/stats') Profile
            li
              a#navbar-tags(href='/tags') Tags
            li
              a#navbar-about(href='/about') About

        span.persona-buttons
          if session.email
            a#logout(class='persona-button', href='#')
              span Logout
          else
            a#login(class='persona-button', href='#')
              span Login

        block header

      #page
        h1#mainTitle= mainTitle
        #mainContent
          block mainContent
      .push

    #footer
      ul.navigation
        li
          a(href='/') Lessons
        li
          a(href='/cheatsheet') Cheatsheet
        if session.email
          li
            a(href='/stats') Profile
        li
          a(href='/tags') Tags
        li
          a(href='/about') About
        if session.isAdmin
          li
            a(href='/admin') Admin
      ul.social
        li
          a(href='https://twitter.com/codefirefox')
            i(class='fa fa-twitter fa-2x')
        li
          a(href='/rss')
            i(class='fa fa-rss fa-2x')
        li
          a(href='http://github.com/bbondy/codefirefox')
            i(class='fa fa-github fa-2x')
        li
          a(href='http://www.youtube.com/user/bbondy/videos')
            i(class='fa fa-youtube-square fa-2x')

    script(type='text/javascript', src='/static/js/jquery.js')
    script(type='text/javascript', src='/static/js/acorn.js')
    script(type='text/javascript', src='/static/js/underscore-min.js')
    script(type='text/javascript', src='/static/js/codecheck.js')
    script(type='text/javascript', src='/static/js/main.js')
    script(type='text/javascript', src='/static/js/analytics.js')
    script(type='text/javascript', src='https://login.persona.org/include.js')
    block extraScripts
