extends layout

block mainContent
  .card-container
    h1 All tags
    #tags
      each tag in tags
        div.tag
          a(href='/tagged/' + tag.name, rel='tag')= tag.name
          span= ' x ' + tag.count
