extends layout

block mainContent
  .card-container
    h1 All tags
    #tags
      ul
        each tag in tags
          li
            a(href='/tagged/' + tag.name, rel='tag')= tag.name
            span= ' x ' + tag.count
