extends layout

block mainContent
  .card-container
    h1= video.title
    p= video.description
    iframe(width='900', height='506', src='//www.youtube.com/embed/' + video.youtubeid + '?rel=0&vq=hd1080', frameborder='0', allowfullscreen)

    #subnav
      ul
        li: a(href= video.shareUrl)
          img(src='/static/img/share-this-page.png')
        li: a(href='/')
          img(src='/static/img/back-to-videos.png')

    p(style='margin-top:50px;')
    a(href='https://github.com/bbondy/codefirefox/issues/new') Outdated info?<br>
    | Find something that is outdated? Please report it!

    p(style='margin-top:30px;')
    a(href='http://www.youtube.com/html5') Want HTML5 video?<br>
    | If enabled, HTML5 video may be lower quality, possibly not in 1080p

