extends layout

block mainContent
  .card-container
    h1= video.title
    p= video.description
    iframe(width='900', height='506', src='//www.youtube.com/embed/' + video.youtubeid + '?rel=0&vq=hd1080', frameborder='0', allowfullscreen)
    a(href='http://www.youtube.com/html5') Want HTML5 video?

    #subnav
      a(href='/')
        img(src='/static/img/back-to-videos.png')

