{
  "host": "localhost",
  "port": 22935,
  "internalPort": 22935,
  "sessionSecret": "<put-something-here>",
  "redisHost": "localhost",
  "redisPort": 10226,
  "admins": ["email1@gmail.com", "email2@gmail.com"],
  "amaraKey": "amara-key-here",
  "emailService": "Gmail",
  "smtpUser": "gmail.user@gmail.com",
  "smtpPass": "userpass",
  "emailFrom": "Some Person <gmail.user@gmail.com>",
  "adminEmails": "bbondy@gmail.com"
}
